$primary-color: #83976b;
$primary-color-light: #9fb584;
$secondary-color: #9fb584;

$input-border-color: $secondary-color;
// $button-border: 1px solid $secondary-color;
// $button-radius: 3px;
$border-radius: 3px;
$input-cus-border-color: $secondary-color;
$input-cus-border-radius: $border-radius;
$input-cus-bg-color: #f9f9f9;


$size1: .75rem;
$size2: .875rem;
$size3: 1rem;
$size4: 1.125rem;
$size5: 1.25rem;
$white: #FFFFFF;
$grey-color: #ececec;
$border-color: $grey-color;
$bg-color: $grey-color;

$md-elevation-umbra-color: rgba($primary-color, .2) !global;
$md-elevation-penumbra-color: rgba($primary-color, .14) !global;
$md-elevation-ambient-color: rgba($primary-color, .12) !global;