$primary-color: #83976b;
$primary-color-light: #9fb584;
$accent-color:#e5b932;
$border-radius: 4px;

$input-border-color: $primary-color-light;
$input-border-radius: 3px;
$input-bg-color: #f9f9f9;

$size1: .75rem;
$size2: .875rem;
$size3: 1rem;
$size4: 1.125rem;
$size5: 1.25rem;
$white: #FFFFFF;
$black: #474846;
$grey-color: #ececec;
$border-color: $grey-color;
$bg-color: $grey-color;

$sidebar-width: 240px;
