@import "./vue-material-theme";
$danger-color: md-get-palette-color(red, A200);
$success-color: md-get-palette-color(green, 900);
$warning-color: md-get-palette-color(orange, A700);

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}
.rounded {
  border-radius: $border-radius;
  overflow: hidden;
}
.bg-white {
  background:$white;
}
.bg-primary {
  background: $primary-color;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-danger {
  color: $danger-color;
}
.text-success {
  color: $success-color;
}
.text-warning {
  color: $warning-color;
}
.text-bold {
  font-weight: 600;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-3 {
  margin-top: $size3 !important;
}
.py-3 {
  padding-top: $size3;
  padding-bottom: $size3;
}
.border-bottom {  
  border-bottom: 1px $border-color solid;
}
.line-height-2 {
  line-height: 2;
}
